# dependencies
node_modules/

# next.js build
.next/
out/

# misc
*.tsbuildinfo
.DS_Store
*.pem
.env*.local

# deployment
.vercel/

# archives
*.zip
*.tar.gz

# stray files
dok5_light.png
page.tsx

.vercel
